.navbar {
    display: flex;
    gap: 2rem;
    align-items: center;
    padding: 2rem 7rem;
    font-weight: 500;
    @media screen and (width <= 768px) {
        text-transform: uppercase;
        padding-inline: 1rem;
        font-size: 12px;
        gap: 1rem;
    }
}

.navbar a {
    text-decoration: none;
    color: black;
}

.navbar a:hover {
    text-decoration: underline;
}

.navbar__logo {
    margin-right: auto;
    img {
        @media screen and (width <= 768px) {
            width: 150px;
        }
    }
}